
  .button-link {
    text-decoration: none;
    color: white;
    background-color: #3498db;
    padding: 10px 20px;
    border-radius: 5px;    /* Rounded corners */
    font-family: Arial, sans-serif;
    font-weight: bold;
    border: 2px solid transparent;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }

  .button-link:hover {
    background-color: #2ecc71;    /* Changes background on hover */
    border-color: #3498db;        /* Adds border color on hover */
  }
  P {
    text-align: left;
    position: 20%;
  }